<!-- wp:template-part {"slug":"header","theme":"ikreate-fse","tagName":"header","className":"site-header"} /-->
	<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"5rem","bottom":"5rem"}}},"layout":{"type":"default"}} -->
	<main class="wp-block-group" style="margin-top:5rem;margin-bottom:5rem">
		<!-- wp:group {"layout":{"type":"constrained"}} -->
			<div class="wp-block-group">
				<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
					<div class="wp-block-group alignwide">
                       <!-- wp:pattern {"slug":"ikreate-fse/hidden-404"} /-->
					</div>
				<!-- /wp:group -->
			</div>
		<!-- /wp:group -->
	</main>
	<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"ikreate-fse","tagName":"footer","className":"site-footer"} /-->
