<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
    <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group">
            <!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
                <div class="wp-block-group alignwide">
                    <!-- wp:post-featured-image /-->
                    <!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"default"}} /-->
                </div>
            <!-- /wp:group -->
        </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->