<!-- wp:template-part {"slug":"header","theme":"ikreate-fse","tagName":"header","className":"site-header"} /-->

<!-- wp:pattern {"slug":"ikreate-fse/breadcrumb","theme":"ikreate-fse","tagName":"general"} /-->

	<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"35px","bottom":"35px"}}},"layout":{"type":"default"}} -->
	<main class="wp-block-group" style="margin-top:35px;margin-bottom:35px">

		<!-- wp:group {"layout":{"type":"constrained"}} -->
			<div class="wp-block-group">
				<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
					<div class="wp-block-group alignwide">

						<!-- wp:post-featured-image {"aspectRatio":"16/9"} /-->

						<!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"default"}} /-->

					</div>
				<!-- /wp:group -->
			</div>
		<!-- /wp:group -->

	</main>
	<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ikreate-fse","tagName":"footer","className":"footer-header"} /-->
