<!-- wp:template-part {"slug":"header","theme":"ikreate-fse","tagName":"header","className":"site-header"} /-->

	<!-- wp:template-part {"slug":"breadcrumb-search","theme":"ikreate-fse","tagName":"general"} /-->

    <!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"50px","bottom":"50px"}}},"layout":{"type":"default"}} -->
	<main class="wp-block-group" style="margin-top:50px;margin-bottom:50px">

		<!-- wp:group {"layout":{"type":"constrained"}} -->

            <div class="wp-block-group">
				<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
					<div class="wp-block-group alignwide">

                        <!-- wp:search {"label":"<?php echo esc_attr_x( 'Search...', 'search form label', 'ikreate-fse' ); ?>","showLabel":false,"width":100,"widthUnit":"%","buttonText":"<?php echo esc_attr_x( 'Search', 'search button text', 'ikreate-fse' ); ?>","buttonPosition":"button-inside","buttonUseIcon":true,"backgroundColor":"primary","fontSize":"medium"} /-->

						<!-- wp:pattern {"slug":"ikreate-fse/posts-3-col"} /-->

					</div>
				<!-- /wp:group -->
			</div>
		<!-- /wp:group -->

	</main>
	<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ikreate-fse","tagName":"footer","className":"footer-header"} /-->

